.navbar {
    padding-bottom: 25px;
}

.home {
    text-align: center;
}


.user-categories {
    text-align: center;
}

.expense-show-page {
    text-align: center;
}

.notebook {
    text-align: center;
    padding-bottom: 25px;
}

.add-note {
    text-align: center;
}