.navbar {
    padding-bottom: 25px;
    justify-content: start;
    align-items: left;
}

.home {
    text-align: center;
}

#login {
    margin-right: 800px;
    margin-left: 20px;
}


#signup {
    margin-right: 800px;
    margin-left: 20px;
}


.user-categories {
    text-align: center;
}

.expense-show-page {
    text-align: center;
}

.notebook {
    text-align: center;
    padding-bottom: 25px;
}

.add-note {
    text-align: center;
}

.categories {
    text-align: center;
}

